* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  color: var(--secondary-color);
}

:root {
  --primary-color: #6070ff;
  --secondary-color: #344563;
  --third-color: #396df2;
  --abstract-color: #172b4d;
  --simple-color: #ebebff;
  --neutral-color: #7a869a;
  --normal-color: #000;
  --general-color: #f7f7f9;
  --sample-color: #7f8cff;
}

body {
  background-color: var(--general-color);
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 4rem;
  color: var(--abstract-color);
  font-weight: bold;
  line-height: 52px;
}

h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: var(--abstract-color);
}

h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: var(--normal-color);
}

p {
  font-size: 16px;
  line-height: 24px;
}

/* mobile view */
@media only screen and (max-width: 750px) {
  .logo {
    font-size: 18px;
    color: var(--primary-color);
    font-weight: 700;
    line-height: 20px;
    text-decoration: none;
  }

  nav {
    padding: 14px 24px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .toggler {
    display: initial;
    margin: 0 24px;
  }

  .toggler > div {
    border-radius: 15%;
    background-color: var(--primary-color);
    height: 3px;
    width: 30px;
    margin: 5px;
  }

  .hero-container {
    background-image: url(/img/header-shapes\ mobile.png);
    height: 90vh;
    border-bottom-left-radius: 20%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
  }

  .content-container {
    margin: 0 24px;
    padding: 114px 0 12px 0;
  }

  .connect {
    color: var(--sample-color);
    padding: 12px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;
  }

  .social-icon {
    margin: 0 24px;
  }

  .social-icon li {
    list-style-type: none;
    margin: 0 19px 0 0;
  }

  .social-icon ul {
    display: flex;
  }

  .works-section {
    display: grid;
  }

  .work-container {
    background-color: #fff;
    padding: 16px;
    margin: 114px 24px 0 24px;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
  }

  .work-content {
    margin-top: 18px;
    margin-bottom: 24px;
  }

  .work {
    display: grid;
    grid-gap: 10px;
    justify-content: start;
    align-items: center;
    margin: 20px 20px 20px 0;
  }

  .work li {
    list-style-type: none;
  }

  .work-item {
    grid-row: 1;
  }

  .works-title {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: var(--secondary-color);
    text-transform: uppercase;
  }

  .work-role {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: var(--neutral-color);
  }

  .work-year {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: var(--neutral-color);
  }

  .btn {
    padding: 12px;
    color: var(--primary-color);
    font-size: 12px;
    line-height: 16px;
    border-radius: 8px;
    border: none;
    background-color: var(--simple-color);
  }
  
  .btn:hover {
    background-color: var(--primary-color);
    color: #fff;
    box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
    border-radius: 8px;
  }

  .btn:active {
    background-color: #2230d2;
    color: #fff;
  }

  .btn-disabled {
    border: 1px solid #c1c7d0;
  }

  .btn-primary {
    border: 1px solid var(--primary-color);
    background-color: transparent;
    font-size: 17px;
    line-height: 24px;
  }

  .btn-secondary {
    padding: 4px 12px;
  }

  .techs {
    display: flex;
    margin: 15px 24px 24px 0;
    gap: 8px;
  }

  .techs li {
    list-style-type: none;
  }

  .about-container {
    background-color: #fff;
    padding: 114px 24px 0 24px;
    margin-top: 114px;
    border-top-right-radius: 20%;
  }

  .about-heading {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
  }

  .about-desc {
    margin: 15px 0;
  }

  .about-container .social-icon {
    margin: 16px 0 14px 0 !important;
  }

  .collapsible {
    /* background: #fff; */
    border-radius: 8px;
    width: 100%;
    height: 72px;
    text-align: left;
    padding: 12px 24px 0 26px;
  }

  .skils {
    margin-top: 24px;
  }

  .skills-items {
    list-style-type: none;
  }

  .skills-item {
    display: flex;
    justify-content: space-between;
    width: 327px;
    height: 72px;
    align-items: center;
  }
}
